<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowPark - Upload Audio</title>
    <link rel="stylesheet" href="static/styles.css">
</head> 
<body>
    <div class="container">
        <h1>KnowPark - <br>A Parkinson Detection System</h1>
        <input type="file" id="audioUpload" accept=".wav,.mp3,.aac" />
        <button id="uploadButton">Upload Audio File</button>
    </div>
    <script src="static/upload.js"></script>
</body>
</html>